
/*
======================
Collection Media Query
======================
*/
@media only screen and (max-width: 1143px) {
    .collection__content h1 {
        font-size: 2.3rem;
      }

}
@media only screen and (max-width: 999px) {
    .collection__container {
      width: 80%;
      margin: 0 auto;
      flex-direction: column;
      height: 65rem;
    }
  
    .collection__box {
      width: 100%;
      margin: 0 auto;
    }
  
    .collection__box:not(:last-child) {
      margin: 0 0 1.6rem;
    }
    
  }

  @media only screen and (max-width: 659px) {
    .buy_btn_show {
        padding: 0.3rem 1.0rem!important;
        margin-top: 0.5rem!important;
      }
  }

  
  @media only screen and (max-width: 568px) {
    .collection {
      margin: 0;
      position: relative;
    }
  
    .collection__container {
      width: 100%;
      height: 50rem;
      text-align: center;
      flex-direction: column;
      justify-content: space-around;
    }
  
    .collection__box {
      justify-content: space-around;
    }
  
    .collection__content {
      flex: 0 0 30%;
    }
  
   
  }
  @media only screen and (max-width: 536px) {
    .collection__content h1 {
        font-size: 2.1rem;
      }

    
  }
  @media only screen and (max-width: 499px) {
    .collection__content span {
        font-size: 1rem;
      }
    .collection__content h1 {
        font-size: 1.8rem;
      }

      .buy_btn_show {
        font-size: 0.9rem;
        margin-top: 0rem!important;
      }
    }

    @media only screen and (max-width: 427px) {
        .collection__content span {
            font-size: 0.8rem;
          }
        .collection__content h1 {
            font-size: 1.6rem;
          }
    
          .buy_btn_show {
            font-size: 0.7rem;
          }
        }

        @media only screen and (max-width: 383px) {
            .collection__content span {
                font-size: 0.7rem;
              }
            .collection__content h1 {
                font-size: 1.5rem;
              }
        
              .buy_btn_show {
                font-size: 0.6rem;
              }
            }
    
            
        @media only screen and (max-width: 363px) {
            .collection__content span {
                font-size: 0.6rem;
              }
            .collection__content h1 {
                font-size: 1.3rem;
              }
        
              .buy_btn_show {
                font-size: 0.5rem;
              }
            }

            @media only screen and (max-width: 319px) {
                .collection__content span {
                    font-size: 0.5rem;
                  }
                .collection__content h1 {
                    font-size: 1.1rem;
                  }
            
                  .buy_btn_show {
                    font-size: 0.4rem;
                  }
                }

@media(max-width:1250px){
    .l-scroll-h i{
        display: none!important;
    }    
    .dropdown-main {
        margin-left: -10px;
    }   

    .dropdown-main2 {
        margin-left: -215px!important;
    }   
}

@media(max-width:1200px){
    .container {
        max-width: 950px;
    }
}

@media(max-width:1150px){
    .dropdown-main2 {
        margin-left: -220px!important;
    }   
}

@media(max-width:1100px){
    .container {
        max-width: 850px;
    }
}
@media(max-width:1062px){
    .cont-2 img{
        height: 203px!important;
    }
}

@media(max-width:1050px){
    .l-scroll-h{
        white-space:normal!important;
    }
}

@media(max-width:991px){
    .burger{
        display:block!important; 
    }
    .burger.open{
        display:none!important; 
    }
   
    .main-nav{
        display: flex!important;
    }

    .main-nav.open{
        display: none!important;
    }

    .navbar-brand.open{
        display: none;
    }

    .navbar {
        padding: .5rem 1rem!important;
    }
    .navbar-brand{
        margin-right: 0rem!important;
        margin-right: 0rem!important;
        margin-left:  0rem!important;
    }
    .container {
        max-width: 950px;
    }
    
    body.open{
        overflow: hidden!important;
    }
   
    .l-navbar.open{
        transform: translate3d(0px, 0px, 0px);
    }
    .l-navbar.open{
        display: block!important;
    }
    .menu-btn_burger.open{
        display: block!important;
    }
    .menu-btn.open{
        display: block;
        animation: fade_menu 1.1s;
    }

    @keyframes fade_menu{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
   
    .slide1{
        margin-top: 104px!important;
    }
    
    .navbar.open{
        padding: .2rem .2rem!important;
    }
    .navbar.open1{
        padding: .5rem 1rem!important;
    }

    .burger-1.open{
        display: block!important;
    }
    .main-nav-1.open{
        display: block!important;
    }
    .containe{   
        /*flex-direction: column;*/
        overflow: auto;
    }
    .cont-2 img{
        height: auto!important;
    }
    .carousel-indicators {
        position: absolute;
        right: 0;
        /*bottom: -5px!important;*/
    }

    .carousel-control-prev {
        display: none!important;
    }

    .carousel-control-next{
        display: none!important;
    }
    .can1 svg.open{
        right: 73px;
    }

    .l-scroll{
        padding-top: 10px;
        width: 31px!important;
    }

    .l-scroll-h{
        margin: 8px 0px!important;
        font-size: 12px!important;
    }
    .new1 {
        padding: 0px 18px!important;
        padding-bottom: 1px!important;
    }
    .nw1{
        margin-left: -20px;
    }
    .scrollmenu {
        overflow: auto!important;
    }

    .image-1{
        width: 100%!important;
    }

    .carousel-1{
        margin: 0px!important;
    }

    .dcp{
        display: none!important
    }
    .mcp{
        display: block!important;
    }

    .btn-left.open{
        display: block!important;
    }
    .btn-right.open{
        display: block!important;
    }

    .btn2-left.open{
        display: block!important;
    }
    .btn2-right.open{
        display: block!important;
    }
    .containe2{   
        overflow: auto;
    }

    
    .new1:hover .dropdown-main {
        display: none!important;
    }
    .new1:hover .dropdown-main2{
        display: none!important;
    }
    .l-scroll-h i{ 
        display: none !important;;
     }

     .main-div-2{
        display: flex;
        display: block!important;
    }

    .product-show-slider-main-center{
        display: none!important;
    }

    .w--1{
        position: relative!important;;
        left: auto!important;
        margin-top: auto!important;
        margin-bottom: 5px;
    }
    
    .w2 {
        margin-top: 5px!important;
    }
    .main-navigation{
        flex-direction:column;
    }
    .div-navigate{
        margin-bottom: 10px;
    }

    .containe {
        flex-direction: column;
    }
    
}
@media(max-width:899px){ 
    .main-div-2{
        flex-direction: column;
    }
    .main-div-1{
        border-radius: 15px 15px 0px 0px!important;
    }
    
}
@media(max-width:869px){ 
    .menu-btn_burger{
        right: 20%!important;
    }
}
@media(max-width:699px){ 
    .menu-btn_burger{
        right: 22%!important;
    }
}
@media(max-width:655px){ 
    
    .Login_suggest_h1 {
        font-size: 25px!important;
        line-height: 25px!important;
        margin-bottom: 20px!important;
    }

        
    .login_btn_1 {
        padding: 5px 25px!important;
    }
}
@media(max-width:599px){ 
    .menu-btn_burger{
        right: 25%!important;
    }
    .btn-navigate {
        font-size: 15px!important;
    }
}

@media(max-width:588px){ 
    
    .Login_suggest_h1 {
        font-size: 20px!important;
        line-height: 20px!important;
        margin-bottom: 15px!important;
    }

        
    .login_btn_1 {
        padding: 4px 20px!important;
    }
}

@media(max-width:579px){ 
    .card-title {
        margin-bottom: 0rem;
        font-size: 1.1rem!important;
    }
}

@media(max-width:549px){ 
    .card-title {
       
        font-size: 18px!important;
    }
}

@media(max-width:499px){ 
    .menu-btn_burger{
        right: 28%!important;
    }

    .card{
        margin: 5px 1px !important;
    }

    .card-title {
       
        font-size: 17px!important;
    }

    .money{
        font-size: 13px!important;
    }
    
    .off{
        font-size: 13px!important;
    }
    
    .strike{
        font-size: 13px!important;
        
    }
    
}


@media(max-width:477px){ 
    
    .Login_suggest_h1 {
        font-size: 18px!important;
        line-height: 18px!important;
        margin-bottom: 13px!important;
    }

        
    .login_btn_1 {
        font-size: 12px!important;
        padding: 3px 15px!important;
    }
}

@media(max-width:449px){ 
    .image-main{
        width: 50px!important;
    }

    .image-m {
        width: 120px!important;
    }
}


@media(max-width:433px){ 
    
    .Login_suggest_h1 {
        font-size: 15px!important;
        line-height: 15px!important;
        margin-bottom: 10px!important;
    }

        
    .login_btn_1 {
        font-size: 10px!important;
        padding: 4px 13px!important;
    }
}


@media(max-width:399px){ 
    .menu-btn_burger{
        right: 30%!important;
    }

    .card{
        margin: 5px 0px !important;
    }


    .clock{
        padding: 2px 5px;
    }
    .t-1{
        font-size: 25px!important;
    }
    .b-1{
        background-color: blue;
        color: white;
        padding: 2px 10px;
        font-size: 16px!important;
    }
    .w2{
        display: grid;
    }
    .w3{
        margin-bottom: 60px;
    }
    .w3-left {
        float: left!important;
    }
    
    .w3-right {
        float: right!important;
    }

    .image-m {
        width: 110px!important;
    }
    .l-scroll-h {
        margin: 5px 0px!important;
        font-size: 11px!important;
    }
    .btn-navigate {
        font-size: 10px!important;
    }
}

@media(max-width:374px){ 
    .card-title {
        
        font-size: 17px!important;
    }

    .money{
        font-size: 12px!important;
    }

    .off{
        font-size: 12px!important;
    }

    .strike{
        font-size: 12px!important;
        
    }
    .image-main{
        width: 45px!important;
    }

}

@media(max-width:369px){ 
    .menu-btn_burger{
        right: 32%!important;
    }
}



@media(max-width:366px){ 
    
    .Login_suggest_h1 {
        font-size: 13px!important;
        line-height: 13px!important;
        margin-bottom: 8px!important;
    }

        
    .login_btn_1 {
        font-size: 10px!important;
        padding: 3px 13px!important;
    }
}


@media(max-width:349px){ 
    p {
        font-size: 1.0rem!important;
    }
    .image-m {
        width: 100px!important;
    }
    .nav-item2 p {
        padding: 15px 15px!important;
    }

    #myBtn{
        bottom: 20px!important;
        right: 20px!important;
        padding: 8px!important;
        border-radius: 10px!important;
        font-size: 16px!important;
    }
}

@media(max-width:339px){ 
    .card-title {
        
        font-size: 15px!important;
    }

    .money{
        font-size: 11px!important;
    }

    .off{
        font-size: 11px!important;
    }

    .strike{
        font-size: 11px!important;
        
    }

    


}

@media(max-width:330px){ 
    .menu-btn_burger{
        right: 34%!important;
    }
    .image-m {
        width: 90px!important;
    }
    
}


@media(max-width:322px){ 
    
    .Login_suggest_h1 {
        font-size: 12px!important;
        line-height: 12px!important;
        margin-bottom: 5px!important;
    }

        
    .login_btn_1 {
        font-size: 8px!important;
        padding: 3px 10px!important;
    }

    .b-1{
        padding: 2px 10px!important;
    }
    
}

@media(max-width:299px){ 
    .navbar {
        padding: .2rem .2rem!important;
    }

    .main-nav a {
        font-size: 15px!important;
    }

    .line{  
        width: 20px!important;
        
    }
    #avatar.ytd-rich-grid-media {
        width: 30px!important;
        height: 30px!important;
    }

    .userimage {
        padding-top: 6px!important;
    }
    .nav-item2 p {
        padding: 15px 15px!important;
    }

    .navbar-brand {
        font-size: 1.5rem!important;
    }
    
    .slide1{
        margin-top: 90px!important;
    }
    .menu-btn_burger{
        right: 36%!important;
    }

    .l-navbar i {
        margin-right: 25px!important;
        font-size: 18px!important;
    }

    .card-title {
        
        font-size: 15px!important;
    }

    .money{
        font-size: 10px!important;
    }

    .off{
        font-size: 10px!important;
    }

    .strike{
        font-size: 10px!important;
        
    }
    .image-main{
        width: 40px!important;
    }



    .clock{
        padding: 2px 4px!important;
        font-size:15px!important;

    }
    .t-1{
        font-size: 20px!important;
    }
    .b-1{
        background-color: blue;
        color: white;
        padding: 2px 10px;
        font-size: 14px!important;
    }
    .w2{
        display: grid;
    }
    .w3{
        margin-bottom: 60px;
    }
    .w3-left {
        float: left!important;
    }

    .w3-left img {
        width: 20px!important;
    }
    
    .w3-right {
        float: right!important;
    }

    .image-m {
        width: 80px!important;
    }

    .box{
        width: 270px!important;
    }

    .Login_suggest_h1 {
        font-size: 10px!important;
        line-height: 10px!important;
        margin-bottom: 5px!important;
    }

        
    .login_btn_1 {
        font-size: 6px!important;
        padding: 3px 10px!important;
    }

    .btn-navigate {
        font-size: 8px!important;
    }
}
@media(max-width:290px){ 
    p {
        font-size: 0.8rem!important;
    }
}
@media(max-width:289px){ 
    .menu-btn_burger{
        right: 38%!important;
    }

}

@media(max-width:279px){ 

    .image-m {
        width: 70px!important;
    }
}

@media(max-width:269px){ 
    .card-title {
        
        font-size: 14px!important;
    }

    .money{
        font-size: 9px!important;
    }

    .off{
        font-size: 9px!important;
    }

    .strike{
        font-size: 9px!important;
        
    }
    .image-main{
        width: 35px!important;
    }

}
@media(max-width:259px){ 
    .menu-btn_burger{
        right: 40%!important;
    }
    .menu-btn_burger::before,.menu-btn_burger::after{
        width: 40px;
        height: 4px;
    }
}



@media(max-width:250px){ 
    p {
        font-size: 0.7rem!important;
    }

    .l-navbar i {
        margin-right: 20px!important;
        font-size: 16px!important;
    }

    .clock{
        padding: 2px 5px;
    }
    .t-1{
        font-size: 15px!important;
    }
    .b-1{
        background-color: blue;
        color: white;
        padding: 1px 8px;
        font-size: 12px!important;
    }
    .w2{
        display: grid;
    }
    .w3{
        margin-bottom: 60px;
    }
    .w3-left {
        float: left!important;
    }
    
    .w3-right {
        float: right!important;
    }

    .image-m {
        width: 60px!important;
    }
}
@media(max-width:239px){ 
    .menu-btn_burger{
        right: 42%!important;
    }
    .menu-btn_burger::before,.menu-btn_burger::after{
        width: 30px;
        height: 3px;
    }
    
    .card-title {
            
        font-size: 13px!important;
    }

    .money{
        font-size: 8px!important;
    }

    .off{
        font-size: 8px!important;
    }

    .strike{
        font-size: 8px!important;
        
    }
    
    
}

@media(max-width:229px){ 
    .menu-btn_burger{
        right: 44%!important;
    }
    .menu-btn_burger::before,.menu-btn_burger::after{
        width: 40px;
        height: 2px;
    }

    .slide1{
        margin-top: 77px!important;
    }
    
    .l-navbar i {
        margin-right: 15px!important;
        font-size: 14px!important;
    }

    p {
        font-size: 0.6rem!important;
    }

    .image-m {
        width: 50px!important;
    }
}
@media(max-width:217px){ 
    .navbar {
        padding: .1rem .1rem!important;
    }

    .main-nav a {
        font-size: 10px!important;
    }

    .line{  
        width: 15px!important;
        
    }

    .navbar-brand {
        font-size: 1.2rem!important;
    }
    .form-control {
        padding: 0rem 0rem!important;
        font-size: 0.9rem!important;
    }

    .menu-btn_burger.open{
        display: none!important;
    }
    /*175*/
    
}
